<h1>Listing spots</h1>

<ul id="spots">
  <% @spots.each do |spot| %>
    <li id="spot_<%= spot.id %>"><span class="handle">[drag]</span><%= spot.name %></li>
  <% end %>
</ul>

<%= link_to 'New Spot', new_spot_path %>
